@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url(herramientas.css);
@import url(header.css);

/*contacto*//*contacto*/
.title-header{
    background-color: var(--light-gray);
    color: var(--white);
    padding: 10px 30px;

}
.title-header h1{
    font-size: 50px;
}
.title-header p{
    color: var(--dark-bg);
    font-size: 20px;
}
.container-fluid{
    width: 100%;

}
.contacto{
    display: grid;
grid-template-columns: 1fr 1fr;
    padding: 30px 30px ;
}

input[type="text"],[type="email"]
{
   width: 100%;
   border: 1px solid var(--dark-bg);
   padding: 10px;
   border-radius: 8px;

}
label{
color: var(--black);
font-size: 16px; 
padding-top: 15px;
}

select{
    width: 100%;
    border: 1px solid var(--dark-bg); 
    padding: 10px;
    border-radius: 8px;
    
}
textarea{
      width: 100%;
    border: 1px solid var(--dark-bg); 
    padding: 10px;
    border-radius: 8px;
}
input[type="submit"]
{
    background: var(--light-gray);
    color: var(--white);
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    
}
input[type="submit"]:hover{
    background: var(--gray);
    
}





.col{
    padding: 30px 30px ;
}

.resaltador{
    color: rgb(24, 24, 107);
}


.footer {
    background: var(--dark-bg);
    color: white;
    padding: 40px 0;
}

.footer h3 { border-bottom: 1px solid #444; padding-bottom: 10px; font-size: 1rem; }
.footer p { font-size: 0.8rem; line-height: 1.6; }

.social-icons i { margin-right: 15px; cursor: pointer; font-size: 1.2rem; }


 .copyright {
    background-color: #222;
    color: #888;
    padding: 15px 0;
    font-size: 0.7rem;
}

.footer-content { display: flex; justify-content: space-between; }
.grid-3-col { display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px; }
.logo-2{height: 140px; }